body, h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.rasm {
    width: 100%;
    height: 80vh;
}
.futer{
    text-align: center;
    background-color: rgb(12, 85, 189);
    color: aliceblue;
    margin-bottom: auto;
}